.container-fluid
  .row-fluid
    .span12.box2
      .row-fluid
        .span5
          .box2
            = image_tag 'welcome/about/join_us.jpg'
        .span7
          %h2= t(:go_online)
          %p= t(:go_online_html)
