.container-fluid
  .row-fluid
    .span12.box2
      .row-fluid
        .span7
          %h2= t(:share_your_space)
          %p= t(:share_your_space_content_html)
        .span5
          .box2
            = image_tag 'welcome/about/coworking_space_1.jpg'
