.container-fluid
  .row-fluid
    .span12.box2
      .row-fluid
        .span7
          %h2= t(:what_is_it_for)
          %p= t(:what_is_it_for_main_content_html)
        .span5
          .box2
            = image_tag 'welcome/about/meeting_room.jpg'
