.container-fluid
  .row-fluid
    .span12.box2
      .row-fluid
        .span5
          .box2
            = image_tag 'welcome/about/coworking_space_2.jpg'
        .span7
          %h2= t(:who_is_it_for)
          %p= t(:who_is_it_for_content_html)

