<div id="about_content">
  <h1>Meetrico</h1>
  <br />
  <h4>¿Sabías que hay empresas que abren sus oficinas para compartir mesas de trabajo y colaborar en proyectos?       - Meetrico te ofrecemos un buscador de aquellos espacios, que más encajen con tus gustos, intereses y necesidades.</h4>
  
  <h4>Por que dárse de alta? </h4>
  <p>
    <li>¿Te gustaría conocer gente con la quien compartir afinidades?</li>
    <li>¿Quieres formar parte de comunidades que trabajan por una sociedad mejor?</li>
    <li>¿Te gustaría colaborar en proyectos o que otras personas colaboren contigo?</li>
  </p>
  <p>Date de alta en Meetrico y te enviaremos información, sobre los mejores espacios de trabajo según tus proyectos, con tarifas y promociones disponibles.</p>
  
  <p>Cuando veas un espacio con el termómetro en verde, quiere decir que hay disponibilidad de plazas y puedes ir a trabajar, conectar con gente, actividades, proyectos, talleres o conseguir apoyo, para crear tu propia empresa. <p> 
  
  <p>Empieza a <strong>formar parte de la transformación que está creando internet en el mundo</strong>, reserva, comparte y empieza a hacer parte del cambio</p>
  <h4>¿Para quién es Meetrico?</h4>
  <p>Autónomos y personas que necesiten espacios alternativos para trabajar. </p>
  <p>Administradores y gestores de espacios de coworking, galerías de arte, salones de eventos y actividades.</p>
  <h4>¿Qué te permite la herramienta?</h4>
  <p>Gestionar espacios y en función de la actividad, creamos un sistema de tarifas y reservas que permiten beneficiarte de las relaciones que puedas llegar a generar.</p>
  <h4>¿Cómo funciona?</h4>
  <p>Regístrate en la web o inicia sesión con Facebook y reserva alguno de nuestros espacios de trabajo. </p>
  <p>Dependiendo de la demanda puedes acceder a cualquiera de nuestras tarifas.
  <br />
  <p><strong>A partir de ahora puedes empezar a disfrutar de nuestra comunidad web y recuerda que... </strong></p>
  <br />
  <p><strong>¡Siempre hay un mundo nuevo por descubrir! </strong></p>
</div>
<br /><br /><br />
