<div id="about_content">
<p>
    <li>¿Por que meetrico?</li>
    
    Meet --> de conocer, es una red social de contactos que te permite acceder a una grán cantidad de personas con las que puedas compartir y gustos, pero además también espacios, por eso meetrico. 
    
    <li>¿Para que sirve?</li>
    
    Para todas aquellas personas que tengan espacios y los quieran ofrecer, meetrico les permite poner a rentar las plazas disponibles dentro de sus oficinas, talleres, locales o sitios de trabajo. 
    
    Para aquellos que buscan un sitio para trabajar, emprender o una oportunidad de negocio, empleo o colaboración meetrico les ofrece esas plazas a unas mejores tarifas. 
    
    <li>¿A quíen va dirigido?</li>
    
    Las personas que pueden ofrecer espacios pueden ser gestores de oficinas compartidas, dueños de las oficinas, aquellos que han rentado un local y necesitan ayuda para pagar los gastos, dueños de salas alternativas. También está la opción para centros sociales, centros culturales, teatros, aulas y todo lo que la creatividad nos permita poner un poco de tecnología y... !crear mejores oportunidades para las personas¡
    
    Todo aquel que busque un espacio para compartir y generar cualquier actividad es alguien a quien le vendría fenomenal usar meetrico. En este caso sería dirigido a artistas que necesiten espacios, publicistas, autónomos, personas que quieran poner en marcha proyectos, emprendedores, empresas que busquen un espacio compartido y así abaratar costes... en fin! !personas que quieran buscar un sitio para desarrollar una labor en la ciudad! ;)
    
    <li>¿Que valor aporta al mundo?</li>
    
    El valor de meetrico es que permite conectar lo mejor de la tecnología, que es acortar las distancias y facilitar la comunicación de las personas, con la gestión de la ciudad y los espacios. Te ayudamos a conectar tus deseos y proyectos con personas afines a tus gustos y además te decimos en que sitio de la ciudad puedes trabajar sin tener que desplazarte mucho! 
    
    
    <li>¿Cual es la filosofía del proyecto?</li>
    
    Nuestra filosofía es que no hay personas infelices sino desconectadas, nuestra intención es conectar a las personas con aquellas cosas que realmente les atraigan, les gusten, les apasionen y además les permita tener un ingreso para sobrevivir. En este sentido según los gustos y los deseos de nuestros usuarios, creamos eventos y actividades que multiplican las posibilidades, reducen desplazamientos y además generan un beneficio para todos, usuarios, proveedores y además también para el Medio Ambiente! ;)
    
    <li>Aplicaciones prácticas</li>
    
    ¿Para que casos concretos sirve meetrico?
    
    <li>Si tienes un espacio que no utilizas y crees que se pueda ofrecer para otras personas de tu ciudad</li>
    <li>Si crees que en tu espacio puede haber un campo para agluien más</li>
    <li>Si te gustaría encontrar un lugar en la ciudad donde compartir y concer gente</li>
    <li>Si eres autónomo, estudiante o emprendedor y crees que sólamente te hace falta relacionarte con más gente</li>
    
    <li>Un ejemplo de cómo funciona</li>
    <li> Link al video de demostración </li>
    <li>¿Cómo puedo saber más?</li>
    <li>Información y contacto</li>
    <li>Libro</li>
    <li>¿Cómo puedo colaborar?</li>
    <li>Contacto</li>
    
  </p>
</div>