<div id="about_content">
   <p>
    <li>¿Por que meetrico?</li>
    <li>¿Lapapaya system?</li>
    <li>¿Para que sirve?</li>
    <li>¿A quíen va dirigido?</li>
    <li>¿Que valor aporta al mundo?</li>
    <li>¿Cual es la filosofía del proyecto?</li>
    <li>¿Cual es la filosofía de la tecnología?</li>
    <li>Aplicaciones prácticas</li>
    <li>Un ejemplo de cómo funciona</li>
    <li>¿Cómo puedo saber más?</li>
    <li>¿Cómo puedo colaborar?</li>
  </p>