<div id="about_content">
  
  <h1>Testimonios</h1>
   <!-- <p> Estos son los testimonios de algunas personas sobre la empresa, la investigación y la trayectoria</p>
    <p>
    <li>Samuel Benzadón N&N</li>
    <li>Juan José Lucas Castelló</li>
    <li>Mariana Romero</li>
    <li>Daniel Soriano</li>
  </p> -->

</div>