<h2>Su transacción ha sido realizada con éxito, gracias por confiar en nosotros! </h2>
<br />
<h2>El equipo de meetrico</h2>
Aqui esta la descripción de tu compra:<br />

<%= render :partial => 'carts/cart', :locals => {:cart => @order.cart, :edit => false} %>